<div class="container-task">
  <div class="user">
    <b class="m-0">Usuario: {{ userLogged }}</b>

    <button (click)="closeSession()" class="btn btn-danger">
      Cerrar Sesión
    </button>
  </div>

  <div class="main-task-card">
    <div class="">
      <h2>Lista de tareas</h2>

      <div class="header">
        <div class="header__input">
          <input
            type="text"
            class="form-control"
            placeholder="Ingrese tarea nueva"
            [(ngModel)]="initial"
            id="tarea"
            (keyup.enter)="saveTask()"
          />
        </div>
        <div class="header__button">
          <button
            [disabled]="!initial"
            (click)="saveTask()"
            class="btn btn-primary col"
          >
            Guardar
          </button>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div
            class="card-items py-3"
            *ngFor="let task of tasks; let i = index"
          >
            <input
              [(ngModel)]="task.taskStatus"
              (change)="changeStatus()"
              type="checkbox"
            />
            {{ task.taskName }}
            <span>
              <button
                class="btn btn-danger"
                (click)="delete(i)"
                *ngIf="!task.taskStatus || false"
              >
                x
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
